<div class="background">
    <div class="login">
        <div class="login__background"></div>
        <div class="login__form">
            <div class="login__intro">
                <div class="data">
                    <img src="../../assets/img/icon.png" alt="Icon" />
                    <h6>Education</h6>
                    <h2>Welcome back</h2>
                    <h5>Please login to continue</h5>
                </div>
            </div>

            <div class="login__info">
                <header>
                    <h2>Login</h2>
                    <a [routerLink]="['/signup']" routerLinkActive="router-link-active"><i class="fas fa-arrow-right"></i> Create new account</a
          >
        </header>
        <div class="social-media btn-lg mt-3">
          <button class="btn btn-facebook text-white">
            <i class="fab fa-facebook-f"></i> FACEBOOK
          </button>

          <button class="btn btn-twitter btn-lg text-white">
            <i class="fab fa-twitter"></i> TWITTER
          </button>

          <button class="btn btn-google btn-lg text-white">
            <i class="fab fa-google"></i> GOOGLE
          </button>
        </div>

        <div class="center-text mt-5">
          <p class="text-center">------Or login with email------</p>
        </div>

        <form>
          <input
            type="email"
            class="form-control form-control-lg"
            placeholder="Email"
          />
          <input
            type="password"
            class="form-control form-control-lg mt-3"
            placeholder="Password"
          />
          <div class="form-row mt-3">
            <div class="form-check form-col">
              <input type="checkbox" class="form-check-input" />
              <label class="form-check-label">Remember</label>
            </div>
            <div class="form-col">
              <a href="#">Forgot Password</a>
            </div>
        </div>

        <button class="btn btn-submit btn-block btn-lg mt-5 text-white">
            Continue
          </button>
        </form>
    </div>
</div>
</div>
</div>